#main_dropdown{
  float:right;
}
#input_1{
  float:left;
  height:500px;
  width:300px;
}
#input_2{
  float:right;
  height:500px;
  width:300px;
}
#information_1{
  float:right;
  height:500px;
  width:500px;
}
h1{
  float: left;
}
div#information_container{
  float:right;
}
